* {
    margin: 0;
    padding: 0;
}
body {
    font-family: playfair display;
}
h2 {
    font-size: 180%;
}
h3 {
    font-size: 140%;
}
nav {
    line-height: 4.8em;
    width: 90%;
    margin: auto;
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
}
.navlogo {
    width: 80%;
}
.navlogo img {
    max-width: 100%;
}
.toggle {
    text-align: right;
}
.navbar {
    display: none;
}
@media only screen and (min-width: 850px) {
    .navlogo {
        flex: 30%;
        max-width: 30%;
    }
    .navlogo img {
        max-width: 100%;
    }
    .toggle {
        display: none;
    }
    .navbar {
        display: block;
        flex: 70%;
        max-width: 70%;
    }
    .navbar ul{
        margin: 0;
        padding: 1rem;
    }
    .navbar ul li{
        display: inline;
        padding: 0 0 0 7%;
        margin: 0;
    }
    .navbar ul li a{
        text-decoration:none;
        color: gray;
    }
    .navbar ul li a:hover{
        color:black;
    }
    .hero_cont{
        max-width: 60%;
    }
}
.hero{
    width: 90%;
    margin: auto;
}
.hero_cont{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
p {
    padding: 1em 0;
}
.shop {
    width: 90%;
    margin: auto;
    text-align: center;
}
.shop_cont {
    width: 90%;
    margin-left: 5%;
    margin-top: 1em;
}
.product {
	width: 90%;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	padding: 5%;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.product:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.8;
	-webkit-transition: opacity 800ms ease-in-out 0s;
	transition: opacity 800ms ease-in-out 0s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0s;
	transition: -webkit-transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
	cursor: pointer;
}

.product figure img {
	width: 100%;
	height: auto;
}

.product figure figcaption {
	font-family: "Franklin Gothic Medium";
	color: rgba(89, 89, 89, 1);
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 0.02rem;
	text-align: center;
	padding: 1rem 0rem 0rem;
	text-transform: uppercase;
}

@media only screen and (min-width: 480px) {
	.product {
        width: 43%;
        padding: 3%;
	}
}
@media only screen and (min-width: 768px) {
	.product {
        width: 28%;
        padding: 2%;
	}
}
@media only screen and (min-width: 1024px) {
	.product {
        width: 21%;
        padding: 1.5%;
	}
}

footer {
    background-color: black;
    padding: 2em 0;
    width: 100%;
}
.ft_all {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.locon {
    flex: 90%;
    max-width: 90%;
    padding: 0 2%;
    text-align: center;
}
.ft_logo {
    padding: 20px 2px 10px 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.ft_icon div {
    display: inline;
    padding: 2px 3px;
}
.ft_icon div a img:hover{
    color: gray;
}
.link {
    flex: 90%;
    max-width: 90%;
    padding: 0 2%;
    text-align: center;
}
.link ul{
    list-style: none;
    margin: 0;
    padding: 1rem;
}
.link ul li{
    padding: 4px 5px;
    margin: 0;
}
.link ul li a{
    text-decoration:none;
    color: white;
    font-size: 14px;
}
.link ul li a:hover{
    color: gray;
}
.lac {
    flex: 90%;
    max-width: 90%;
    padding: 2%;
    text-align: center;
}
.lac p {
    font-size: 14px;
}
.sub {
    color: white;
}
input {
    padding: 10px 10px 10px 10px;
    border: none;
    outline: none;
    border-radius: 40px;
    margin-top: 10px;
    margin-right: 4px;
    margin-bottom: 20px;
}
.lac button {
    padding: 10px 17px 10px 17px;
    background-color: gray;
    border: none;
    border-radius: 40px;
}
button a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .locon {
        flex: 41%;
        max-width: 41%;
    }
    .link {
        flex: 46%;
        max-width: 46%;
    }
}
@media only screen and (min-width: 1024px) {
	.locon {
        flex: 21%;
        max-width: 21%;
        padding: 0 4px;
    }
    .link {
        flex: 40%;
        max-width: 40%;
        padding: 0 4px;
    }
    .lac {
        flex: 36%;
        max-width: 36%;
        padding: 0 4px;
        margin: 2% 0;
    }
}