* {
    margin: 0;
    padding: 0;
}
body {
    font-family: playfair display;
}
h2 {
    font-size: 180%;
}
h3 {
    font-size: 90%;
}
@media only screen and (min-width: 480px) {
	h3 {
        font-size: 140%;
    }
}
nav {
    line-height: 4.8em;
    width: 100%;
    margin: auto;
    padding-left: 5%;
    padding-top: 1em;
    background-color: black;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
}
.navlogo {
    width: 60%;
}
.navlogo h1 {
    max-width: 100%;
    color: white;
}
.navbar {
    display: none;
}
@media only screen and (min-width: 850px) {
    .navlogo {
        flex: 21%;
        max-width: 21%;
    }
    .navlogo h1 {
        max-width: 100%;
        font-size: 25px;
    }
    .navbar {
        display: block;
        flex: 78%;
        max-width: 78%;
    }
    .navbar ul{
        margin: 0;
        padding: 1rem;
    }
    .navbar ul li{
        display: inline;
        padding: 0 0 0 7%;
        margin: 0;
    }
    .navbar ul li a{
        text-decoration:none;
        color: white;
    }
    .navbar ul li a:hover{
        color:grey;
    }
}
@media only screen and (min-width: 1017px) {
	.navlogo h1 {
        font-size: 30px;
    }
}
.cart {
    padding: 7px 7px;
}
nav span {
    padding: 0 20px;
}
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.2s;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .overlay a {
    padding: 4px;
    text-decoration: none;
    font-size: 28px;
    color: #818181;
    display: block;
    transition: 0.2s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  @media only screen and (min-width: 850px) {
	nav span, .cart {
        display: none;
    }
}
main {
    
    background-color: whitesmoke;
}
.hero{
    background-image: url(../img/c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: fit-content;
    margin: auto;
    padding: 18rem 0;
}
.herocen{
    background-color: rgb(255, 255, 255, 0.5);
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 3rem 0;
}
.herocen h1 {
    font-size: 24px;
}
.herocen button{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 10px 40px;
    margin-top: 10px;
}
.herocen button a{
    font-size: 14px;
}
.hero_cont{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 12em;
    padding-bottom: 4em;
}
p {
    padding: 1em 0;
}
.ship {
    background-color: grey;
    color: whitesmoke;
    text-align: center;
    padding: 10px 10px;
}
.round {
    text-align: center;
    padding: 2em;
}
.one, .two, .three {
    width: 90%;
    margin: auto;
    padding: 1em;
    display: inline-block;
}
.herone {
    background-color: black;
    text-align: center;
    padding: 1em 0;
}
.herone a {
    color: white;
    text-decoration: none;
}
.haves img {
    width: 100%;
}
@media only screen and (min-width: 768px) {
	.one, .two, .three {
        width: 28%;
        padding: 2%;
	}
}
@media only screen and (min-width: 400px) {
	.herocen{
        width: 70%;
    }
}
@media only screen and (min-width: 850px) {
    .hero {
        width: 90%;
    }
    .hero_cont{
        max-width: 60%;
    }
    .herocen{
        width: 50%;
        padding: 3rem 0;
    }
    .herocen button{
        font-size: 18px;
        padding: 10px 60px;
    }
    .herocen button a{
        font-size: 18px;
    }
    .herocen h1 {
        font-size: 32px;
    }
}
.shop {
    width: 90%;
    margin: auto;
    padding-top: 140px;
    text-align: center;
}
.shop_cont {
    width: 90%;
    margin-left: 5%;
    margin-top: 1em;
}
.product {
	width: 90%;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	padding: 5%;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.product:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.8;
	-webkit-transition: opacity 800ms ease-in-out 0s;
	transition: opacity 800ms ease-in-out 0s;
	-webkit-transition: -webkit-transform 1s ease-in-out 0s;
	transition: -webkit-transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s;
	transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
	cursor: pointer;
}

.product figure img {
	width: 100%;
	height: auto;
}

.product figure figcaption {
	font-family: "Franklin Gothic Medium";
	color: rgba(89, 89, 89, 1);
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 0.02rem;
	text-align: center;
	padding: 1rem 0rem 0rem;
	text-transform: uppercase;
}

@media only screen and (min-width: 480px) {
	.product {
        width: 43%;
        padding: 3%;
	}
}
@media only screen and (min-width: 768px) {
	.product {
        width: 28%;
        padding: 2%;
	}
}
@media only screen and (min-width: 1024px) {
	.product {
        width: 21%;
        padding: 1.5%;
	}
}
.container form{
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 7em;
  }
.container {
    background-image: url(../img/c.jpg);
    background-color: wheat;
    font-family:'Nunito', sans-serif;
    height: 100%;
  }
.container input[type=text], .container input[type=email], .container input[type=password], .container button {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      margin-bottom: 15px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}
.container h3 {
  text-align: center;
}
.container button{
    background-color: black;
    color: white;
    margin-top: 40px;
}
.container #note{
        background-color: red;
        text-align: center;
    }
    .container a{
      text-emphasis-style: none;
      text-decoration: none;
      color: #026aff;
    }
    
    .container div {
      border-radius: 5px;
      padding: 20px;
    }
  @media screen and (min-width: 850px) {
      .container {
          margin: auto;
          width: 50%;
          background-color: whitesmoke;
          padding: 5% 5%;
      }
    }
footer {
    background-color: black;
    padding: 2em 0;
    width: 100%;
}
.ft_all {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.ft_icon {
    margin-top: 30px;
}
.ft_icon div {
    display: inline;
    padding: 2px 3px;
}
.lac {
    flex: 90%;
    max-width: 90%;
    padding: 2%;
    text-align: center;
    margin-bottom: 30px;
}
.lac p {
    font-size: 14px;
    color: white;
}
.sub {
    color: white;
}
input {
    padding: 10px 10px;
    border: none;
    outline: none;
    width: 220px;
    margin-top: 30px;
    margin-right: 4px;
    margin-bottom: 20px;
}
.lac button {
    width: 240px;
    padding: 10px 0;
    background-color: gray;
    border: none;
}
button a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}
.sub1 {
    margin-top: 30px;
}
.sub1 p{
    padding-top: 1px;
}
@media only screen and (min-width: 430px) {
    .lac button {
        width: 320px;
    }
    input {
        width: 300px;
    }
}
@media only screen and (min-width: 1024px) {
    .lac {
        flex: 32%;
        max-width: 32%;
        padding: 0 4px;
        margin: 2% 0;
    }
}